html {
  background:#018DED url("background.jpg");
  background-size:cover;
  font-family:'Didact Gothic', sans-serif;
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.countdown {
  margin:50px auto;
  position: relative;
  padding:2rem;
}

#down{
  font-size:6em;
  color: white;
  margin: 0.1em;
}